/**
 * FH theme for reveal.js.
 *
 * By Rolke Christopher, www.rolke.net
 */

// Default mixins and settings -----------------
@import '../template/mixins';
@import '../template/settings';
// ---------------------------------------------

// Include theme-specific fonts
@import url(../../../dist/theme/fonts/calibri/calibri.css);

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #ffffff;

$mainColor: #222;
$headingColor: #222;

$fhGreen: #79b635;

$mainFontSize: 42px;
$mainFont: 'Calibri', Helvetica, sans-serif;
$headingFont: 'Calibri', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #2a76dd;
$linkColorHover: lighten($linkColor, 15%);
$selectionBackgroundColor: lighten($linkColor, 25%);

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1em;

$overlayElementBgColor: 0, 0, 0;
$overlayElementFgColor: 240, 240, 240;

// Change text colors against dark slide backgrounds
@include dark-bg-text-color(#fff);

// Theme template ------------------------------
@import '../template/theme';
// ---------------------------------------------
